/* src/components/NavBar.css */
.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin-top: -7px;
    margin-left: -7px;
}
  
  .logo {
    float: left;
    display: flex;
    align-items: center;
    margin-right: 24px;
    color: white;
  }
  